---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% assign pubs_data = site.data.scholar_publications %}
{% if pubs_data and pubs_data.publications and pubs_data.publications.size > 0 %}
  {% include scholar-publications-list.html %}
{% else %}
  <p>Publications are syncing from Google Scholar. Please check back soon.</p>
{% endif %}


